body {
    background: cyan;
    width: 100%;
}

main {
    background: rgb(252, 252, 252);
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    color: darkgray;
    text-align: center;
    border-radius: 3px;
}

.box {
    padding: 30px;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    text-transform: uppercase;
}

input {
    font-size: 20px;
    margin: 0px;
    border: 1px solid darkgrey;
}

button {
    font-size: 21px;
    color: white;
    background: magenta;
    margin: 0px;
    border: none;
}

ul {
    text-align: left;
    margin-left: 60px;
    list-style-type: none;
}

.done {
    border: 1px solid rgb(180, 180, 180);
    background: none;
    height: 12px;
    width: 12px;
    border-radius: 12px;
    margin-left: 350px;
    justify-content: right;
    align-items: right;
}

.completed {
    text-decoration: line-through;
  }